
@import url('https://fonts.googleapis.com/css?family=Alata');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.main {
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.headerlayout {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    padding-bottom: 20px;
   
}
.headerlayout img {
    width: 20px;
    margin-left: 50px;
    padding: 20px;
    margin-bottom: 20px;
}


.menustyle {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid rgb(168, 187, 184);
}

.menustyle a {
    min-width: 100px;
    font-size: 1.1em;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(32, 40, 30);
    border-radius: 6px;
    padding: 5px 7px 5px 7px;

}

.menustyle a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(169, 222, 190);
}

.menustyle a:active {
    background-color: rgb(140, 207, 180);
}

.menustyle .selected {
    background-color: rgb(223, 209, 190);
}

.maincontenu {
 padding: 20px ;
 font-family: 'alata', sans-serif;

}

.maincontenu img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.maincontenu p {
    text-align: justify;
    font-family: 'Incosolata' , monospace;
    font-size: 22px;
    margin-left: auto;
}

.images img {
    display: block;
    width: 40%;
    float: left;
    padding-right: 2%;
}


.aiimages img {
display: block;
float: right;
width: 30%;
padding-left: 2%;

}

.interface img {
    display: block;
    width: 40%;
    float: right;
    
   
}
.interface iframe {
display: block;
float: left;
   width: 53%;
   min-height: 230px;
   max-height: 350px;

}

.videoytar {
    display: flex;
}

.videoytar iframe {
    display: block;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
    
}

.header {
    display: grid;
    grid-template-columns: auto 30%;
}
.bio {
    display: block;
    text-align: left;
    margin-right: 50px;
}
.avatar {
    display: block;
        background-image: url("images/avater.png");
        height: 200px;
        width: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 260px;
        float: right;
        margin: auto;
    }
